*{
    margin: 0;
    padding: 0;
}

nav {
    height: 5rem;
    width: 100%;
    background-color: black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 5px;

}

ul {
    display: flex;
    flex-direction: row;
    color: white;
    list-style-type: none;
    margin-right: 30px;

}

a {
    padding: 5px;
    font-size: 1em;
    text-decoration: none;
}

li a.hover {
    background-color: black;
}


h1{
    color: rgb(128, 128, 233);
    display: flex;
    justify-content: center;
    text-align: center;
}

.p1{
    display: flex;
    flex-direction: row;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
   
    text-align: center;
}

.middleBody{
    display: flex;
    flex-direction: column;
   
    text-align: center;

}

.link{
    display: inline;
}

